.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: #f5f5f5;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
  background-color: #ed9e2f;
  padding: 10px;
  color: white;
  text-align: center;
  margin-bottom: 30px;
}

main {
  max-width: 1040px;
  margin: 0 auto;
  padding: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}

form {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

input, select {
  margin-right: 10px;
  padding: 5px;
}

button {
  background-color: #4d4d4d;
  color: white;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #333333;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: white;
}

footer img {
  max-width: 100px;
}

button {
  background-color: #4d4d4d;
  color: white;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #333333;
}

footer {
  text-align: center;
  padding: 0px;
  background-color: white;
}

footer img {
  max-width: 100px;
}